@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: 3px solid black;
  padding: 0.4rem 0.8rem;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  box-shadow: 4px 4px black;
  text-transform: uppercase;
  user-select: none;
}
button:hover {
  transition: all 0.2s ease;
  background-color: black;
  color: white;
}
button:active {
  transition: all 0.1s ease;
  transform: translateX(4px) translateY(4px);
  box-shadow: none;
}
button:disabled {
  background-color: silver;
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
